<%= form_with(model: enroll) do |form| %>
  <% if enroll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enroll.errors.count, "error") %> prohibited this enroll from being saved:</h2>

      <ul>
        <% enroll.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label :course_id %>
    <%= form.number_field :course_id  , class:"form-control"%>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-dark"%>
  </div>
<% end %>
